@import url("https://fonts.googleapis.com/css2?family=Roboto");

$main-bg: #7ea5f4;
$dark-blue: #001641;
$dark-blue-2: #12264e;
$item-blue: #001d58;

$red: #ff6464;
$blue: #27ffb4;
$orange: #ffb100;

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $main-bg;
  font-family: Roboto, sans-serif;
}

.container {
  background: $dark-blue;
  height: 600px;
  min-width: 340px;
  max-width: 340px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 20px 0px 35px 1px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
}

.nav {
  height: 60px;
  display: block;
  position: relative;

  h4 {
    color: #fbfbfc;
    margin: 0;
    color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.input-text {
  background: transparent;
  border: none;
  border-bottom: 0.5px solid $main-bg;
  color: white;
  width: 99%;
  height: 30px;
}
.pagination {
  width: 100%;
  text-align: center;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;

  .slider {
    margin-top: 7px;
    justify-content: center;
    display: flex;
    width: calc(100% - 40px);
    margin: auto;
    overflow: auto;
    text-transform: uppercase;

    .arrow,
    .number {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #9fa7b7;
      font-size: 9px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transition: background 0.2s;
      user-select: none;
      margin: 0 5px;
      &:not(.selected):hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .selected {
      background: #fff;
      color: $dark-blue;
      font-weight: bold;
    }

    .arrow {
      width: 20px;
      // border-radius: 3px;
      display: inline;
    }
  }
}

.line {
  height: 1px;
  width: 100%;
  background: $dark-blue-2;
  margin: 15px auto;
}

.items {
  overflow: auto;
  height: 64%;
  h4 {
    color: #fff;
    margin-left: 3px;
    font-weight: normal;
  }

  .item {
    margin: 15px 0;
    height: 45px;

    &.red {
      color: $red;
      .dot {
        background: $red;
      }
    }
    &.blue {
      color: $blue;
      .dot {
        background: $blue;
      }
    }
    &.orange {
      color: $orange;

      .dot {
        background: $orange;
      }
    }

    .action-button {
      width: 63px;
      height: 23px;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      :hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .data {
      display: inline-block;
      border-radius: 7px;
      background: #001d58;
      width: calc(100% - 90px);
      padding: 10px;
      &.deleted {
        text-decoration: line-through;
      }
      .subTitle {
        font-size: 10px;
      }
      .title {
        font-size: 14px;
      }
    }
  }
}
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .input-container {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fff;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
.sorting {
  display: flex;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  :nth-child(2) {
    margin-right: 50px;
  }
}
.alert {
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: rgba(39, 255, 180, 0.6);
  padding: 0 20px;
  border-radius: 10px;
  color: white;
}
